{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "semi": ["warn", "never"],
    "quotes": ["warn", "single"],
    "indent": ["warn", 2]
  },
  "env": {
    "jest": true,
    "browser": true
  }
}

