{
  "extends": ["prettier", "eslint-plugin-react", "eslint-plugin-react"],
  "rules": {
    "semi": ["warn", "never"],
    "comma-dangle": ["warn", "never"],
    "quotes": ["warn", "single"],
    "indent": ["warn", 2]
  },
  "env": {
    "jest": true,
    "browser": true
  }
}